@model DoAnWeb.Models.FeedbackViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Elegant Feedback Form Flat Responsive Template :: w3layouts</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Elegant Feedback Form  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="/elegantFeedback/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>
<body class="agileits_w3layouts">
    <h1 class="agile_head text-center">BIỂU MẪU ĐÁNH GIÁ</h1>
    <div class="w3layouts_main wrap">
        <h3>Hãy giúp chúng tôi phục vụ bạn tốt hơn bằng cách dành một vài phút.</h3>
        @using (Html.BeginForm("Create", "Feedback", FormMethod.Post, new { @class = "agile_form" }))
        {
            <h2>Mức độ hài lòng của bạn về dịch vụ của chúng tôi?</h2>
            <ul class="agile_info_select">
                @for (int i = 0; i < Model.Answers.Count; i++)
                {
                    <li>
                        @Html.RadioButtonFor(m => Model.Select, Model.Answers[i].Id, new { @id = i })
                        <label for="@i"> @Model.Answers[i].Name</label>
                        <div class="@Model.Answers[i].Css"></div>
                    </li>
                }
            </ul>
            <h2>Nếu bạn có thắc mắc, xin vui lòng viết thư cho chúng tôi...</h2>
            @Html.TextAreaFor(m => m.Comment, new { @class = "w3l_summary", @placeholder = "Ý kiến khác" })
            @Html.TextBoxFor(m => m.FullName, new { @placeholder = "Tên của bạn" })
            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email của bạn" })
            <input type="submit" value="send" class="agileinfo" />
        }
    </div>
    <div class="agileits_copyright text-center">
        <p>©2002 Chân thành cảm ơn quý khách đã sử dụng dịch vụ của chúng tôi | Quay lại <a class="nav-link" href="/home/index">Trang chủ</a></p>
    </div>
</body>
</html>
