
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/category" class="nav-link">Danh mục</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý đơn hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Danh mục</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách đơn hàng</h3>

        </div>
        <div class="card-body">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã đơn hàng</th>
                        <th>Ngày tạo</th>
                        <th>Tên mặt hàng</th>
                        <th>Tên người gửi</th>
                        <th>Tên người nhận</th>
                        <th>Thu hộ</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        var i = 1;
                        foreach (var item in Model)
                        {
                            if (item.IsActive == "Chờ duyệt")
                            {
                                <tr id="trow_@item.Id">
                                    <td>@i</td>

                                    <td>@item.ItemCode</td>
                                    <td>@item.CreatedDate</td>
                                    <td>@item.ItemName</td>
                                    <td>@item.SenderName</td>
                                    <td>@item.ReceiverName</td>
                                    <td>@item.PaymentMethodCod VNĐ</td>
                                    <td>@item.IsActive</td>

                                    <td>
                                        <a href="/order/details/@item.Id" class="btn btn-primary btn-sm">Xem</a>
                                        <button id="approve-order" type="button" data-id="@item.Id" class="btn btn-sm btn-primary">Duyệt đơn</button>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    }

                </tbody>
            </table>


        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<script>
    const  approveBtns = document.querySelectorAll('#approve-order');
    approveBtns.forEach(approveBtn => {
        approveBtn.addEventListener('click', function(event) {
            const orderId = this.getAttribute('data-id');
            const url = '@Url.Action("ApproveOrder", "QuanLyDonHang")';
            $.ajax({
                type: "POST",
                url: url,
                data: { id: orderId } ,
                success: function (rs) {
                    location.reload(true);
                    alert('Nhận đơn thành công!.');
                },
                error: function (rs) {
                    alert('Nhận đơn không thành công!.');
                    location.reload(true);
                }
            });
        });
     });
</script>
